/*========================================================
        COLORS
=========================================================*/
$primary: #f8961b;
$primary-light: #fb9449;
$secondary: #1e8582;
$secondary-light: #49b9ad;
$secondary-blue: #273469;
$grey: #787878;
$grey-light: #e5e5e5;
$accent: #9C27B0;
$success: #28C76F;
$danger: #EA5455;
$warning: #FF9F43;
$dark: #1E1E1E;
$white: #fff;
$black: #22292f;
$info: #24a0ed;

/*========================================================
        TYPOGRAPHY
=========================================================*/

$font-family-sans-serif: 'Poppins', sans-serif !default;
$font-family-serif: Georgia, "Times New Roman", Times, serif !default;

$content-color: $grey;
$theme-background: #fff;

